# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# misc
.DS_Store
/backend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/

# Build output
build/
dist/
out/

# macOS files
.DS_Store

# IDE and editor files
.idea/
.vscode/
*.swp

# Environment files
.env
.env.*
backend/app/__pycache__
backend/alembic.ini
backend/raw_course_data.csv
backend/helpers/db_test.py
backend/alembic.ini

